@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/volkhov/400.css";
@import "@fontsource/volkhov/700.css";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/600.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.red-gradient {
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  color: white !important; /* Ensure the text color is white */
  border: none !important; /* Ensure the border is removed */
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-volkhov {
  font-family: "Volkhov", serif;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif; /* Add this class */
}
